@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #E2E8F0;
    --primary: #F8FAFC;
    --secondary: #0F172A;
}

body {
    background-color: var(--background);
}

nav {
    background-color: var(--primary);
    height: 70px;
    /* align-items: center; */
}

.search-box{
    background-color: var(--primary);
    height: 50px;
}

.btn {
    background-color: var(--secondary);
    color: #fff;
    width: 130.51px;
    height: 50px;
}